*,
*::before *::after,
div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --darkest: hsl(260, 10%, 8%);
  --darker: hsl(260, 10%, 12%);
  --dark: hsl(260, 10%, 16%);
  --light: hsl(260, 10%, 50%);
  --lighter: hsl(260, 10%, 70%);
  --lightest: hsl(260, 10%, 90%);
}

svg {
  width: 100%;
}

.game-container {
  position: relative;
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'Encode Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--lightest);
  background-color: var(--darkest);
  background:
    linear-gradient(180deg, hsla(260, 10%, 8%, 0) 20%, hsla(260, 10%, 8%, .1) 20%, hsla(260, 10%, 8%, .1) 40%, hsla(260, 10%, 8%, .2) 40%, hsla(260, 10%, 8%, .2) 60%, hsla(260, 10%, 8%, .4) 60%, hsla(260, 10%, 8%, .4) 80%, hsla(260, 10%, 8%, .5) 80%),
    linear-gradient(45deg, hsla(260, 10%, 8%, .3) 20%, hsla(260, 10%, 8%, .4) 20%, hsla(260, 10%, 8%, .4) 40%, hsla(260, 10%, 8%, .5) 40%, hsla(260, 10%, 8%, .5) 60%, hsla(260, 10%, 8%, .6) 60%, hsla(260, 10%, 8%, .6) 80%, hsla(260, 10%, 8%, .7) 80%),
    linear-gradient(-45deg, hsla(260, 10%, 8%, 0) 20%, hsla(260, 10%, 8%, .1) 20%, hsla(260, 10%, 8%, .1) 40%, hsla(260, 10%, 8%, .2) 40%, hsla(260, 10%, 8%, .2) 60%, hsla(260, 10%, 8%, .4) 60%, hsla(260, 10%, 8%, .4) 80%, hsla(260, 10%, 8%, .6) 80%),
    linear-gradient(90deg, hsla(260, 10%, 8%, 0) 20%, hsla(260, 10%, 8%, .3) 20%, hsla(260, 10%, 8%, .3) 40%, hsla(260, 10%, 8%, .5) 40%, hsla(260, 10%, 8%, .5) 60%, hsla(260, 10%, 8%, .7) 60%, hsla(260, 10%, 8%, .7) 80%, hsla(260, 10%, 8%, .8) 80%),
    linear-gradient(-90deg, hsla(260, 10%, 8%, 0) 20%, hsla(260, 10%, 8%, .4) 20%, hsla(260, 10%, 8%, .4) 40%, hsla(260, 10%, 8%, .5) 40%, hsla(260, 10%, 8%, .5) 60%, hsla(260, 10%, 8%, .6) 60%, hsla(260, 10%, 8%, .6) 80%, hsla(260, 10%, 8%, .8) 80%),
    linear-gradient(180deg, hsla(260, 10%, 8%, 0) 20%, hsla(260, 10%, 8%, .4) 20%, hsla(260, 10%, 8%, .4) 40%, hsla(260, 10%, 8%, .6) 40%, hsla(260, 10%, 8%, .6) 60%, hsla(260, 10%, 8%, .8) 60%, hsla(260, 10%, 8%, .8) 80%, hsla(260, 10%, 8%, .9) 80%);
  background-size: 100% 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  overflow: hidden;
}

.header-container {
  margin: 1rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.play-button {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}

.play-button .icon {
  position: relative;
  width: 3rem;
  height: 3rem;
  display: grid;
  place-content: center;
  pointer-events: none;
}

.play-button .icon:before {
  content: "";
  position: absolute;
  top: .5rem;
  left: .5rem;
  width: calc(2rem - 2px);
  height: calc(2rem - 2px);
  border: 1px solid var(--light);
  background: var(--darkest);
  transform: rotate(45deg);
}

.play-button .icon svg {
  position: relative;
  width: 1.25rem;
}

.play-button .text {
  position: relative;
  left: -1.25rem;
  padding: .25rem 2rem;
  border: 1px solid var(--lighter);
  background: var(--darkest);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  z-index: -1;
}

.nav-container {
  position: relative;
  margin: 0 2rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

nav .link {
  position: relative;
  bottom: -2px;
  margin: 0 .5rem;
  padding: .5rem;
  display: flex;
  border-bottom: 1px solid transparent;
  transition: all .2s ease-in-out;
}

nav .link.active,
nav .link:hover {
  border-bottom: 1px solid var(--light);
}


.main-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  overflow-y: auto;
  overflow-x: hidden;
}

.link {
  cursor: pointer;
}

.level-display {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: .25rem;
  text-transform: uppercase;
  font-size: .8rem;
}

.level-display .level {
  position: absolute;
}

.experience {
  -webkit-appearance: none;
  margin: 0;
  width: 120px;
  height: .25rem;
  border-radius: 0;
  background: var(--dark);
  border: 0;
}

.experience::-moz-progress-bar {
  background-color: var(--light);
}

.exp-display {
  font-size: .8rem;
}

.profile-card {
  margin: 0 1rem;
  width: 180px;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr;
  align-items: center;
}

.profile-card .details {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

.profile-card .level {
  position: relative;
  width: 3rem;
  height: 3rem;
  display: grid;
  place-content: center;
}

.profile-card .level::before {
  content: "";
  position: absolute;
  top: .5rem;
  left: .5rem;
  width: calc(2rem - 4px);
  height: calc(2rem - 4px);
  border: 1px solid var(--lightest);
  background: var(--darkest);
  transform: rotate(45deg);
}

.currencies {
  min-width: 8rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.coins,
.gems {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.currencies svg {
  width: 1rem;
  fill: currentColor;
}

.stats-col {
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 2rem;
}

.stat {
  position: relative;
  display: flex;
  align-items: center;
  gap: .5rem;
  cursor: default;
}

.stat>.label {
  position: absolute;
  padding: .25rem;
  font-size: .75rem;
  text-transform: uppercase;
  color: hsl(255, 15%, 60%);
  background: hsl(260, 20%, 4%);
  display: none;
}

.stat:focus-within>.label {
  display: flex;
}

.stat>.icon {
  width: 22px;
  height: 22px;
  background-size: contain;
}

.power-icon {
  background-image: url('../images/hud/attack.gif');
}

.stat .value {
  font-size: 1.25rem;
}

.coin:first-child {
  margin-left: 0rem;
}

.coin {
  margin-left: .5rem;
  margin-right: .25rem;
}

.coin.copper {
  color: #ff915e;
}

.coin.silver {
  color: #ccc;
}

.coin.gold {
  color: #ffbb00;
}

.page {
  display: none;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  transition: all .5s ease-in-out;
  overflow: hidden;
  z-index: 1;
}

.page.active {
  display: grid;
}


.title-container {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
}

.title-container .title {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.title-container nav {
  margin-left: 2rem;
  padding-left: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-left: 1px solid var(--darker);
}

.game-card-grid {
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 1rem;
}

.game-card {
  position: relative;
  width: 100%;
  max-height: 20rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 1rem;
  border-radius: .75rem;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  border: 1px solid var(--light);
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.game-card>* {
  pointer-events: none;
}

.game-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--darkest);
  opacity: .9;
  transition: all .2s ease-in-out;
}

.game-card:hover::before {
  opacity: .7;
}

[data-link="dungeon"] {
  background-image: url('https://w.wallhaven.cc/full/4y/wallhaven-4yodzd.jpg');
}

[data-link="crate"] {
  background-image: url('https://w.wallhaven.cc/full/42/wallhaven-42ko3m.jpg');
}

[data-link="lottery"] {
  background-image: url('https://i.pinimg.com/564x/2d/6e/35/2d6e3569a7358c4df8fa1c7d504b6ef0.jpg');
}

.game-card-title {
  position: relative;
  padding: 1rem;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.game-card-body {
  position: relative;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: .5rem;
}

.game-card-info {
  display: flex;
  align-items: center;
  gap: .75rem;
  font-size: 1.25rem;
}

.game-card-info svg {
  width: 1.25rem;
  fill: currentColor;
}

.hint {
  pointer-events: none;
  position: absolute;
  top: 5rem;
  left: 50%;
  padding: .25rem .5rem;
  font-size: .75rem;
  border-radius: 1rem;
  transform: translateX(-50%);
  background: var(--dark);
  opacity: .5;
}

.enemy-container {
  height: 100%;
  display: grid;
  place-content: center;
  cursor: pointer;
}

.enemy-container>* {
  pointer-events: none;
}

.enemy {
  position: relative;
  min-width: 20rem;
  min-height: 20rem;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.enemy * {
  position: relative;
  pointer-events: none;
}

.enemy-healthbar {
  -webkit-appearance: none;
  width: 100%;
  height: 1rem;
  background: hsl(255, 25%, 4%);
  overflow: hidden;
  border: 1px solid;
}

.enemy-health {
  position: absolute;
  top: 3.6rem;
  z-index: 9;
}

.enemy-sprite {
  width: 10rem;
  height: 14rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.enemy-info {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.enemy-type {
  padding: .2rem .4rem;
  border-radius: 999px;
  background: hsl(255, 15%, 4%);
}

.enemy-name {
  margin: .5rem 0;
  font-size: 1.25rem;
}


.enemy.normal .enemy-type {
  color: hsl(0, 50%, 50%);
}

.enemy.elite .enemy-type {
  color: hsl(226, 51%, 30%);
}

.enemy.boss .enemy-type {
  color: goldenrod;
}

.enemy.normal .enemy-healthbar {
  border-color: hsl(0, 50%, 50%);
}

.enemy.elite .enemy-healthbar {
  border-color: hsl(226, 51%, 30%);
}

.enemy.boss .enemy-healthbar {
  border-color: goldenrod;
}

.enemy.normal .enemy-healthbar::-moz-progress-bar {
  background-color: hsl(0, 50%, 50%);
}

.enemy.elite .enemy-healthbar::-moz-progress-bar {
  background-color: hsl(226, 51%, 30%);
}

.enemy.boss .enemy-healthbar::-moz-progress-bar {
  background-color: goldenrod;
}

/* crate */
.crate {
  position: relative;
}

.crate .button {
  font-size: 60px;
  font-family: 'Rajdhani', sans-serif;
  text-align: center;
  line-height: 85px;
  color: #fff;
  margin: 0 auto;
  margin-top: 150px;
  width: 350px;
  height: 85px;
  background: linear-gradient(#1d7751, #0e382c);
  border: 3px #25793b solid;
  border-radius: 5px;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
  transition: .1s;
  transform: scale(1);
  cursor: pointer;
  -webkit-user-select: none;
  box-shadow: 0 0 50px rgba(0, 117, 9, 0.5);
  overflow: hidden;
}

.crate .button:hover {
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  transform: scale(1.05);
}

.crate .button:active {
  background: linear-gradient(#1f8258, #114435);
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  transform: scale(1);
  box-shadow: 0 0 75px rgba(43, 137, 68, 0.5);
}

.crate .button:after {
  content: "";
  position: relative;
  top: -120px;
  left: -90px;
  display: block;
  width: 35px;
  height: 150px;
  background: rgba(255, 255, 255, 0.5);
  transform: rotate(35deg);
  -webkit-filter: blur(20px);
  transition: none;
}

.crate .button:hover:after {
  left: 400px;
  transition: .3s ease-in-out;
}

.crate .overlay {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: auto;
  gap: 1rem;
}

.item-card {
  position: relative;
  min-height: 6rem;
  background: var(--dark);
  border-radius: 1rem;
}

.item-name {
  position: relative;
  top: .75rem;
  left: .5rem;
  font-family: 'Staatliches', sans-serif;
  padding: .25rem 1rem;
  border-radius: 1rem;
  background: rgba(0, 0, 0, .5);
}

.item-price {
  position: absolute;
  bottom: .25rem;
  right: .25rem;
  padding: .25rem .5rem;
  font-size: .8rem;
  border-radius: 1rem;
  background: rgba(0, 0, 0, .5);
}

.Legendary {
  background: hsl(50, 75%, 65%);
}

.Epic {
  background: hsl(330, 40%, 50%)
}

.Rare {
  background: hsl(240, 35%, 50%)
}

.Common {
  background: hsl(240, 15%, 70%);
}

.tabs {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: hsl(256, 8%, 12%)
}

.tab {
  padding: .5rem;
  color: hsl(255, 15%, 80%);
  cursor: pointer;
}

.tab * {
  pointer-events: none;
}

.tab svg {
  width: 2rem;
  height: 2rem;
  fill: hsl(255, 15%, 90%);
}

.footer-container {
  position: fixed;
  bottom: 1rem;
  left: calc(4vw - 1px);
  width: 92vw;
  height: 4rem;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  place-items: center;
  background: hsl(220, 7%, 10%);
  border-radius: 1.5rem;
  border: 1px solid hsl(220, 7%, 14%);
  z-index: 9;
}

.nav-item svg {
  height: 3rem;
}

.main-item {
  position: relative;
  top: -1rem;
  padding: .5rem;
  width: 3rem;
  height: 3rem;
  color: hsl(255, 15%, 80%);
  background: rgb(110, 90, 40);
  border-radius: 1.5rem;
  border: 1px solid hsl(220, 7%, 14%);
  display: grid;
  place-content: center;
  cursor: pointer;
}

.main-item svg {
  fill: #fff;
}

.loadout-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  z-index: 10;
}

.loadout-container .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.character .sprite {
  position: relative;
  width: 320px;
  height: 320px;
}