*,
*::before *::after,
div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --darkest: hsl(260, 10%, 8%);
  --darker: hsl(260, 10%, 12%);
  --dark: hsl(260, 10%, 16%);
  --light: hsl(260, 10%, 50%);
  --lighter: hsl(260, 10%, 70%);
  --lightest: hsl(260, 10%, 90%);
  --red: hsl(0, 70%, 60%);
  --orange: hsl(30, 70%, 60%);
  --blue: hsl(210, 70%, 60%);
}

.game-container {
  position: relative;
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--lightest);
  background: hsl(256, 25%, 8%);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  overflow: hidden;
}

svg {
  width: 100%;
}

.ttu {
  text-transform: uppercase;
}
.flex {
  display: flex;
  align-items: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-row-around {
  display: flex;
  justify-content: space-around;
}
.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container {
  padding: 1rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.play-button {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}

.play-button .icon {
  position: relative;
  width: 3rem;
  height: 3rem;
  display: grid;
  place-content: center;
  pointer-events: none;
}

.play-button .icon:before {
  content: "";
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: calc(2rem - 2px);
  height: calc(2rem - 2px);
  border: 1px solid var(--light);
  background: var(--darkest);
  transform: rotate(45deg);
}

.play-button .icon svg {
  position: relative;
  width: 1.25rem;
}

.play-button .text {
  position: relative;
  left: -1.25rem;
  padding: 0.25rem 2rem;
  border: 1px solid var(--lighter);
  background: var(--darkest);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  z-index: -1;
}

.nav-container {
  position: relative;
  margin: 0 2rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

nav .link {
  position: relative;
  bottom: -2px;
  margin: 0 0.5rem;
  padding: 0.5rem;
  display: flex;
  border-bottom: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

nav .link.active,
nav .link:hover {
  border-bottom: 1px solid var(--light);
}

.main-container {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  overflow-y: auto;
  overflow-x: hidden;
}

.link {
  cursor: pointer;
}

.profile-card-provider {
  position: fixed;
  top: 4rem;
  left: 0;
  padding: 1rem;
  width: 18rem;
  height: 100vh;
  overflow-y: auto;
}

.profile-card {
  display: flex;
  flex-direction: column;
}
.profile-banner {
  width: 100%;
  height: 4rem;
  background-color: hsl(256, 25%, 16%);
  background-image: url('../images/banners/elemental.gif');
  background-size: cover;
  border-radius: .5rem;
  image-rendering: pixelated;
}
.profile-title {
  position: relative;
  margin-top: -2rem;
  display: grid;
  grid-template-columns: auto 1fr;
}
.profile-portrait-provider {
  display: block;
  width: 4rem;
  height: 4rem;
  background-color: hsl(256, 25%, 32%);
  border-radius: .5rem;
}
.profile-player-provider {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.player-name {
  padding-inline-start: .5rem;
  display: flex;
  align-items: center;
  background-color: hsla(256, 25%, 8%, .75);
  border-radius: .5rem;
}
.profile-level-provider {
  display: grid;
  grid-template-columns: auto 1fr;
}
.player-level {
  position: relative;
  width: 2rem;
  height: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(256, 25%, 12%);
  border-radius: .5rem;
}

.profile-experience {
  position: relative;
  border-radius: .5rem;
  overflow: hidden;
}
.experience {
  -webkit-appearance: none;
  margin: 0;
  width: 100%;
  height: 100%;
  background: hsl(265, 25%, 16%);
  border: 0;
}
.experience::-moz-progress-bar {
  background-color: var(--light);
}
.exp-display {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: .8rem;
}

.profile-gold-provider {
  margin-block: 1rem;
  padding: .5rem;
  display: grid;
  place-content: center;
  background-color: hsl(256, 25%, 12%);
  border-radius: .5rem;
}
.player-gold {
  display: flex;
  gap: .5rem;
}
.coin {
  display: flex;
  align-items: center;
  gap: .25rem;
}

.coin:before {
  content: '';
  display: inline-block;
  width: 17px;
  height: 17px;
}

.copper:before {
  background: url('../images/hud/copper.gif');
}
.silver:before {
  background: url('../images/hud/silver.gif');
}
.gold:before {
  background: url('../images/hud/gold.gif');
}

.profile-currencies, .profile-stats {
  margin-bottom: 1rem;
  padding: .5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .5rem;
  background-color: hsl(256, 25%, 12%);
  border-radius: .5rem;
}
.kv {
  padding: .5rem 1rem;
  display: flex;
  align-items: center;
  gap: .5rem;
  background-color: hsl(256, 25%, 8%);
  border-radius: .5rem;
}

.page {
  position: relative;
  width: calc(100% - 1rem);
  margin-left: 19rem;
  display: none;
  transition: all 0.5s ease-in-out;
  overflow-y: auto;
  z-index: 1;
}

.page.active {
  display: block;
}

.title-container {
  padding: 1rem 0;
  display: flex;
  align-items: center;
}

.title-container .title {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.title-container nav {
  margin-left: 2rem;
  padding-left: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-left: 1px solid var(--darker);
}

.subpage {
  display: none;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.subpage.active {
  display: grid;
}

.panel {
  display: none;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.panel.active {
  display: grid;
}

.panel aside {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

[data-subpage="inventory"],
[data-subpage="vault"] {
  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
}

.inventory-items {
  grid-template-columns: repeat(auto-fit, 4rem);
  grid-template-rows: repeat(auto-fit, 4rem);
  gap: 1rem;
}

.game-card-grid {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 1rem;
}

.game-card {
  position: relative;
  height: 20rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 1rem;
  border-radius: 0.75rem;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.game-card > * {
  pointer-events: none;
}

.game-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsl(256, 25%, 12%);
  opacity: 0.9;
  transition: all 0.2s ease-in-out;
}

.game-card:hover::before {
  opacity: 0.7;
}

[data-link="dungeon"] {
  background-image: url("https://w.wallhaven.cc/full/4y/wallhaven-4yodzd.jpg");
}

[data-link="crate"] {
  background-image: url("https://w.wallhaven.cc/full/42/wallhaven-42ko3m.jpg");
}

[data-link="lottery"] {
  background-image: url("https://i.pinimg.com/564x/2d/6e/35/2d6e3569a7358c4df8fa1c7d504b6ef0.jpg");
}

.game-card-title {
  position: relative;
  padding: 1rem;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.game-card-body {
  position: relative;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.5rem;
}

.game-card-info {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: 1.25rem;
}

.game-card-info svg {
  width: 1.25rem;
  fill: currentColor;
}

.hint {
  pointer-events: none;
  position: absolute;
  top: 5rem;
  left: 50%;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  border-radius: 1rem;
  transform: translateX(-50%);
  background: var(--dark);
  opacity: 0.5;
}

.fight-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
}

.location-info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.location-info .title {
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  display: grid;
  grid-template-columns: 32px 1fr auto;
  grid-template-rows: 1fr;
  align-items: center;
  gap: 0.5rem;
  border-bottom: 1px solid var(--light);
}
.location-info svg {
  width: 2rem;
  fill: currentColor;
}
.location-name {
  font-size: 1.5rem;
}
.location-details {
  min-width: 8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}
.location-details .detail {
  text-align: center;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}
.location-details .detail .label {
  color: var(--light);
}
.location-details .detail .value {
  font-size: 1.25rem;
}
.location-description {
  line-height: 1.25;
}

.enemy-container {
  height: 100%;
  display: grid;
  place-content: center;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.1);
}

.enemy-container > * {
  pointer-events: none;
}

.enemy {
  position: relative;
  width: 320px;
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.enemy * {
  position: relative;
  pointer-events: none;
}

.enemy-details {
  margin-bottom: .5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.enemy-type {
  padding: 0.2rem 0.4rem;
  border-radius: 999px;
  background: var(--darkest);
}

.enemy-name {
  font-size: 1.5rem;
}

.enemy-health {
  position: relative;
}

.enemy-healthbar {
  position: relative;
  -webkit-appearance: none;
  width: 320px;
  height: 24px;
  background: var(--darkest);
  overflow: hidden;
  border: 0;
}

.enemy-healthbar-label {
  position: absolute;
  top: 2px;
  left: 50%;
  transform: translateX(-50%);
}

.enemy-sprite {
  width: 320px;
  height: 320px;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.enemy.normal .enemy-type {
  color: hsl(0, 50%, 50%);
}

.enemy.elite .enemy-type {
  color: hsl(226, 51%, 30%);
}

.enemy.boss .enemy-type {
  color: goldenrod;
}

.enemy.normal .enemy-healthbar {
  border-color: hsl(0, 50%, 50%);
}

.enemy.elite .enemy-healthbar {
  border-color: hsl(226, 51%, 30%);
}

.enemy.boss .enemy-healthbar {
  border-color: goldenrod;
}

.enemy.normal .enemy-healthbar::-moz-progress-bar {
  background-color: var(--red);
}

.enemy.elite .enemy-healthbar::-moz-progress-bar {
  background-color: var(--blue);
}

.enemy.boss .enemy-healthbar::-moz-progress-bar {
  background-color: var(--orange);
}

/* crate */
.crate {
  position: relative;
}

.crate .button {
  font-size: 60px;
  text-align: center;
  line-height: 85px;
  color: #fff;
  margin: 0 auto;
  margin-top: 150px;
  width: 350px;
  height: 85px;
  background: linear-gradient(#1d7751, #0e382c);
  border: 3px #25793b solid;
  border-radius: 5px;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
  transition: 0.1s;
  transform: scale(1);
  cursor: pointer;
  -webkit-user-select: none;
  box-shadow: 0 0 50px rgba(0, 117, 9, 0.5);
  overflow: hidden;
}

.crate .button:hover {
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  transform: scale(1.05);
}

.crate .button:active {
  background: linear-gradient(#1f8258, #114435);
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  transform: scale(1);
  box-shadow: 0 0 75px rgba(43, 137, 68, 0.5);
}

.crate .button:after {
  content: "";
  position: relative;
  top: -120px;
  left: -90px;
  display: block;
  width: 35px;
  height: 150px;
  background: rgba(255, 255, 255, 0.5);
  transform: rotate(35deg);
  -webkit-filter: blur(20px);
  transition: none;
}

.crate .button:hover:after {
  left: 400px;
  transition: 0.3s ease-in-out;
}

.crate .overlay {
  margin: 1rem 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, 4rem);
  grid-template-rows: repeat(auto-fit, 4rem);
  gap: 1rem;
}

.item-card {
  position: relative;
  width: 4rem;
  height: 4rem;
  background: var(--dark);
  border-radius: 0.25rem;
  border: 2px solid;
}

.item-card > .tooltip {
  position: absolute;
  top: 0;
  left: 4.5rem;
  padding: 1rem;
  width: 10rem;
  height: 15rem;
  background: var(--darker);
  border: 1px solid var(--dark);
  border-radius: 0.5rem;
  display: none;
  flex-direction: column;
  z-index: 1;
}
.item-card:hover > .tooltip {
  display: flex;
}

.item-card img {
  width: 4rem;
  mix-blend-mode: soft-light;
}

.item-name {
  padding: 0.25rem 1rem;
}

.item-price {
  padding: 0.25rem 0.5rem;
  font-size: 0.8rem;
}

.Legendary {
  border-color: hsl(50, 100%, 50%);
}

.Epic {
  border-color: hsl(298, 100%, 50%);
}

.Rare {
  border-color: hsl(219, 100%, 63%);
}

.Common {
  border-color: hsl(240, 15%, 70%);
}

.nav-item svg {
  height: 3rem;
}

.main-item {
  position: relative;
  top: -1rem;
  padding: 0.5rem;
  width: 3rem;
  height: 3rem;
  color: hsl(255, 15%, 80%);
  background: rgb(110, 90, 40);
  border-radius: 1.5rem;
  border: 1px solid hsl(220, 7%, 14%);
  display: grid;
  place-content: center;
  cursor: pointer;
}

.main-item svg {
  fill: #fff;
}

.loadout-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  z-index: 10;
}

.loadout-container .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.character .sprite {
  position: relative;
  width: 320px;
  height: 320px;
}

.game {
  position: relative;
  width: 100%;
  height: 100%;
}
#character {
  width: 32px;
  height: 64px;
  background-color: red;
  position: absolute;
  bottom: 128px;
  left: calc(50% - 16px);
}
.animate {
  animation: jump .5s ease-in-out;
}

@keyframes jump {
  0%{bottom: 128px;}
  30%{bottom: 160px;}
  70%{bottom: 160px;}
  100%{bottom: 128px;}
}

#block{
  background-color: blue;
  width: 32px;
  height: 32px;
  position: absolute;
  bottom: 128px;
  right: -32px;
  animation: block 2s infinite linear;
}
@keyframes block{
  0%{right: -32px;}
  100%{right: 100%}
}