*,
*::before *::after,
div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --darkest: hsl(260, 10%, 8%);
  --darker: hsl(260, 10%, 12%);
  --dark: hsl(260, 10%, 16%);
  --light: hsl(260, 10%, 50%);
  --lighter: hsl(260, 10%, 70%);
  --lightest: hsl(260, 10%, 90%);
  --red: hsl(0, 70%, 60%);
  --orange: hsl(30, 70%, 60%);
  --blue: hsl(210, 70%, 60%);
}

.game-container {
  position: relative;
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--lightest);
  background-color: var(--darkest);
  background: linear-gradient(
      180deg,
      hsla(260, 10%, 8%, 0) 20%,
      hsla(260, 10%, 8%, 0.1) 20%,
      hsla(260, 10%, 8%, 0.1) 40%,
      hsla(260, 10%, 8%, 0.2) 40%,
      hsla(260, 10%, 8%, 0.2) 60%,
      hsla(260, 10%, 8%, 0.4) 60%,
      hsla(260, 10%, 8%, 0.4) 80%,
      hsla(260, 10%, 8%, 0.5) 80%
    ),
    linear-gradient(
      45deg,
      hsla(260, 10%, 8%, 0.3) 20%,
      hsla(260, 10%, 8%, 0.4) 20%,
      hsla(260, 10%, 8%, 0.4) 40%,
      hsla(260, 10%, 8%, 0.5) 40%,
      hsla(260, 10%, 8%, 0.5) 60%,
      hsla(260, 10%, 8%, 0.6) 60%,
      hsla(260, 10%, 8%, 0.6) 80%,
      hsla(260, 10%, 8%, 0.7) 80%
    ),
    linear-gradient(
      -45deg,
      hsla(260, 10%, 8%, 0) 20%,
      hsla(260, 10%, 8%, 0.1) 20%,
      hsla(260, 10%, 8%, 0.1) 40%,
      hsla(260, 10%, 8%, 0.2) 40%,
      hsla(260, 10%, 8%, 0.2) 60%,
      hsla(260, 10%, 8%, 0.4) 60%,
      hsla(260, 10%, 8%, 0.4) 80%,
      hsla(260, 10%, 8%, 0.6) 80%
    ),
    linear-gradient(
      90deg,
      hsla(260, 10%, 8%, 0) 20%,
      hsla(260, 10%, 8%, 0.3) 20%,
      hsla(260, 10%, 8%, 0.3) 40%,
      hsla(260, 10%, 8%, 0.5) 40%,
      hsla(260, 10%, 8%, 0.5) 60%,
      hsla(260, 10%, 8%, 0.7) 60%,
      hsla(260, 10%, 8%, 0.7) 80%,
      hsla(260, 10%, 8%, 0.8) 80%
    ),
    linear-gradient(
      -90deg,
      hsla(260, 10%, 8%, 0) 20%,
      hsla(260, 10%, 8%, 0.4) 20%,
      hsla(260, 10%, 8%, 0.4) 40%,
      hsla(260, 10%, 8%, 0.5) 40%,
      hsla(260, 10%, 8%, 0.5) 60%,
      hsla(260, 10%, 8%, 0.6) 60%,
      hsla(260, 10%, 8%, 0.6) 80%,
      hsla(260, 10%, 8%, 0.8) 80%
    ),
    linear-gradient(
      180deg,
      hsla(260, 10%, 8%, 0) 20%,
      hsla(260, 10%, 8%, 0.4) 20%,
      hsla(260, 10%, 8%, 0.4) 40%,
      hsla(260, 10%, 8%, 0.6) 40%,
      hsla(260, 10%, 8%, 0.6) 60%,
      hsla(260, 10%, 8%, 0.8) 60%,
      hsla(260, 10%, 8%, 0.8) 80%,
      hsla(260, 10%, 8%, 0.9) 80%
    );
  background-size: 100% 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  overflow: hidden;
}

svg {
  width: 100%;
}

.ttu {
  text-transform: uppercase;
}
.flex {
  display: flex;
  align-items: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-row-around {
  display: flex;
  justify-content: space-around;
}
.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container {
  margin: 1rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.play-button {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}

.play-button .icon {
  position: relative;
  width: 3rem;
  height: 3rem;
  display: grid;
  place-content: center;
  pointer-events: none;
}

.play-button .icon:before {
  content: "";
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: calc(2rem - 2px);
  height: calc(2rem - 2px);
  border: 1px solid var(--light);
  background: var(--darkest);
  transform: rotate(45deg);
}

.play-button .icon svg {
  position: relative;
  width: 1.25rem;
}

.play-button .text {
  position: relative;
  left: -1.25rem;
  padding: 0.25rem 2rem;
  border: 1px solid var(--lighter);
  background: var(--darkest);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  z-index: -1;
}

.nav-container {
  position: relative;
  margin: 0 2rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

nav .link {
  position: relative;
  bottom: -2px;
  margin: 0 0.5rem;
  padding: 0.5rem;
  display: flex;
  border-bottom: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

nav .link.active,
nav .link:hover {
  border-bottom: 1px solid var(--light);
}

.main-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  overflow-y: auto;
  overflow-x: hidden;
}

.link {
  cursor: pointer;
}

.level-display {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.level-display .level {
  position: absolute;
}

.experience {
  -webkit-appearance: none;
  margin: 0;
  width: 120px;
  height: 0.25rem;
  border-radius: 0;
  background: var(--dark);
  border: 0;
}

.experience::-moz-progress-bar {
  background-color: var(--light);
}

.exp-display {
  font-size: 0.8rem;
}

.profile-card {
  margin: 0 1rem;
  width: 180px;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr;
  align-items: center;
}

.profile-card .details {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.profile-card .level {
  position: relative;
  width: 3rem;
  height: 3rem;
  display: grid;
  place-content: center;
}

.profile-card .level::before {
  content: "";
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: calc(2rem - 4px);
  height: calc(2rem - 4px);
  border: 1px solid var(--lightest);
  background: var(--darkest);
  transform: rotate(45deg);
}

.currencies {
  min-width: 8rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.coins,
.gems {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.currencies svg {
  width: 1rem;
  fill: currentColor;
}

.stats-col {
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 2rem;
}

.stat {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: default;
}

.stat > .label {
  position: absolute;
  padding: 0.25rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: hsl(255, 15%, 60%);
  background: hsl(260, 20%, 4%);
  display: none;
}

.stat:focus-within > .label {
  display: flex;
}

.stat > .icon {
  width: 22px;
  height: 22px;
  background-size: contain;
}

.power-icon {
  background-image: url("../images/hud/attack.gif");
}

.stat .value {
  font-size: 1.25rem;
}

.coin:first-child {
  margin-left: 0rem;
}

.coin {
  margin-left: 0.5rem;
  margin-right: 0.25rem;
}

.coin.copper {
  color: #ff915e;
}

.coin.silver {
  color: #ccc;
}

.coin.gold {
  color: #ffbb00;
}

.page {
  display: none;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  z-index: 1;
}

.page.active {
  display: grid;
}

.title-container {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
}

.title-container .title {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.title-container nav {
  margin-left: 2rem;
  padding-left: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-left: 1px solid var(--darker);
}

.subpage {
  display: none;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.subpage.active {
  display: grid;
}

.panel {
  display: none;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.panel.active {
  display: grid;
}

.panel aside {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

[data-subpage="inventory"],
[data-subpage="vault"] {
  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
}

.inventory-items {
  grid-template-columns: repeat(auto-fit, 4rem);
  grid-template-rows: repeat(auto-fit, 4rem);
  gap: 1rem;
}

.game-card-grid {
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 1rem;
}

.game-card {
  position: relative;
  width: 100%;
  max-height: 20rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 1rem;
  border-radius: 0.75rem;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  border: 1px solid var(--light);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.game-card > * {
  pointer-events: none;
}

.game-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--darkest);
  opacity: 0.9;
  transition: all 0.2s ease-in-out;
}

.game-card:hover::before {
  opacity: 0.7;
}

[data-link="dungeon"] {
  background-image: url("https://w.wallhaven.cc/full/4y/wallhaven-4yodzd.jpg");
}

[data-link="crate"] {
  background-image: url("https://w.wallhaven.cc/full/42/wallhaven-42ko3m.jpg");
}

[data-link="lottery"] {
  background-image: url("https://i.pinimg.com/564x/2d/6e/35/2d6e3569a7358c4df8fa1c7d504b6ef0.jpg");
}

.game-card-title {
  position: relative;
  padding: 1rem;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.game-card-body {
  position: relative;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.5rem;
}

.game-card-info {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: 1.25rem;
}

.game-card-info svg {
  width: 1.25rem;
  fill: currentColor;
}

.hint {
  pointer-events: none;
  position: absolute;
  top: 5rem;
  left: 50%;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  border-radius: 1rem;
  transform: translateX(-50%);
  background: var(--dark);
  opacity: 0.5;
}

.fight-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
}

.location-info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.location-info .title {
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  display: grid;
  grid-template-columns: 32px 1fr auto;
  grid-template-rows: 1fr;
  align-items: center;
  gap: 0.5rem;
  border-bottom: 1px solid var(--light);
}
.location-info svg {
  width: 2rem;
  fill: currentColor;
}
.location-name {
  font-size: 1.5rem;
}
.location-details {
  min-width: 8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}
.location-details .detail {
  text-align: center;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}
.location-details .detail .label {
  color: var(--light);
}
.location-details .detail .value {
  font-size: 1.25rem;
}
.location-description {
  line-height: 1.25;
}

.enemy-container {
  height: 100%;
  display: grid;
  place-content: center;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.1);
}

.enemy-container > * {
  pointer-events: none;
}

.enemy {
  position: relative;
  width: 320px;
  height: 320px;
  display: grid;
  place-content: center;
}

.enemy-info {
  width: 300px;
  height: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  user-select: none;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  background-color: var(--darker);
}

.enemy * {
  position: relative;
  pointer-events: none;
}

.enemy-healthbar {
  position: absolute;
  -webkit-appearance: none;
  width: 320px;
  height: 320px;
  background: var(--darkest);
  overflow: hidden;
  border: 0;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.enemy-type {
  padding: 0.2rem 0.4rem;
  border-radius: 999px;
  background: hsl(255, 15%, 4%);
}

.enemy-name {
  font-size: 1.5rem;
}

.enemy.normal .enemy-type {
  color: hsl(0, 50%, 50%);
}

.enemy.elite .enemy-type {
  color: hsl(226, 51%, 30%);
}

.enemy.boss .enemy-type {
  color: goldenrod;
}

.enemy.normal .enemy-healthbar {
  border-color: hsl(0, 50%, 50%);
}

.enemy.elite .enemy-healthbar {
  border-color: hsl(226, 51%, 30%);
}

.enemy.boss .enemy-healthbar {
  border-color: goldenrod;
}

.enemy.normal .enemy-healthbar::-moz-progress-bar {
  background-color: var(--red);
}

.enemy.elite .enemy-healthbar::-moz-progress-bar {
  background-color: var(--blue);
}

.enemy.boss .enemy-healthbar::-moz-progress-bar {
  background-color: var(--orange);
}

/* crate */
.crate {
  position: relative;
}

.crate .button {
  font-size: 60px;
  text-align: center;
  line-height: 85px;
  color: #fff;
  margin: 0 auto;
  margin-top: 150px;
  width: 350px;
  height: 85px;
  background: linear-gradient(#1d7751, #0e382c);
  border: 3px #25793b solid;
  border-radius: 5px;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
  transition: 0.1s;
  transform: scale(1);
  cursor: pointer;
  -webkit-user-select: none;
  box-shadow: 0 0 50px rgba(0, 117, 9, 0.5);
  overflow: hidden;
}

.crate .button:hover {
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  transform: scale(1.05);
}

.crate .button:active {
  background: linear-gradient(#1f8258, #114435);
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  transform: scale(1);
  box-shadow: 0 0 75px rgba(43, 137, 68, 0.5);
}

.crate .button:after {
  content: "";
  position: relative;
  top: -120px;
  left: -90px;
  display: block;
  width: 35px;
  height: 150px;
  background: rgba(255, 255, 255, 0.5);
  transform: rotate(35deg);
  -webkit-filter: blur(20px);
  transition: none;
}

.crate .button:hover:after {
  left: 400px;
  transition: 0.3s ease-in-out;
}

.crate .overlay {
  margin: 1rem 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, 4rem);
  grid-template-rows: repeat(auto-fit, 4rem);
  gap: 1rem;
}

.item-card {
  position: relative;
  width: 4rem;
  height: 4rem;
  background: var(--dark);
  border-radius: 0.25rem;
  border: 2px solid;
}

.item-card > .tooltip {
  position: absolute;
  top: 0;
  left: 4.5rem;
  padding: 1rem;
  width: 10rem;
  height: 15rem;
  background: var(--darker);
  border: 1px solid var(--dark);
  border-radius: 0.5rem;
  display: none;
  flex-direction: column;
  z-index: 1;
}
.item-card:hover > .tooltip {
  display: flex;
}

.item-card img {
  width: 4rem;
  mix-blend-mode: soft-light;
}

.item-name {
  padding: 0.25rem 1rem;
}

.item-price {
  padding: 0.25rem 0.5rem;
  font-size: 0.8rem;
}

.Legendary {
  border-color: hsl(50, 100%, 50%);
}

.Epic {
  border-color: hsl(298, 100%, 50%);
}

.Rare {
  border-color: hsl(219, 100%, 63%);
}

.Common {
  border-color: hsl(240, 15%, 70%);
}

.nav-item svg {
  height: 3rem;
}

.main-item {
  position: relative;
  top: -1rem;
  padding: 0.5rem;
  width: 3rem;
  height: 3rem;
  color: hsl(255, 15%, 80%);
  background: rgb(110, 90, 40);
  border-radius: 1.5rem;
  border: 1px solid hsl(220, 7%, 14%);
  display: grid;
  place-content: center;
  cursor: pointer;
}

.main-item svg {
  fill: #fff;
}

.loadout-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  z-index: 10;
}

.loadout-container .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.character .sprite {
  position: relative;
  width: 320px;
  height: 320px;
}
